@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
  font-family: Open Sans, sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 48px;
}

.info {
  text-transform: uppercase;

}

#all {
  width: 700px;
  margin: 0 auto;
}

.rating {
  @size: 14px;

  span {
    border-radius: @size / 2;
    width: @size;
    height: @size;

    display: inline-block;

    &.on {
      background: #333;
    }

    &.off {
      background: #ccc;
    }
  }
}
